<strong><%= @user.location %></strong>

<!-- here, we want to return - 
the restaurant's name 
the restaurant's address 
x miles away
with the map
credit to yelp
 -->
<!-- 
<a href="https://api.yelp.com/v2/search/?location=new york, ny&category_filter=pizza,japanese">Testing</a> -->


