<div class="question">
	You feelin' good today?<br />
</div>
<div class="answer">
	<div class="two-choices">
		<%= link_to "Sure", questionWeather_path(:mood => true), :method => :post, remote: true %>
	</div>
	<div class="two-choices">
		<%= link_to "Meh", questionWeather_path(:mood => false), :method => :post, remote: true %>
	</div>
</div>