<div class="question">
	How deep are your pockets?<br />
</div>
<div class="answer">

	<div class="two-choices">
		<%= link_to "Deep enough", result_path(:price => true), :method => :post, remote: true  %>
	</div>
	<div class="two-choices">
		<%= link_to "I'm broke", result_path(:price => false), :method => :post, remote: true  %>
	</div>
</div>
<!-- choiceForToday path set to test array modifications -->
