<div class="question">
	<br /><br />
	<span style="color: grey; font-size: 20px">Question 6/6:</span><br />
	<div class="animated flipInX">
		How deep are your pockets?
	</div>
</div>
<ul class="answer">
	<li class="two-choices">
		<img src="/assets/rich.svg" width="50">
			<%= link_to "Deep enough", summary_path(:price => true), id: 'two-choices', :method => :post, remote: true %>
	</li>
	<li class="two-choices">
		<img src="/assets/poor.png" width="50">
		<%= link_to "I'm broke", summary_path(:price => false), :method => :post, id: 'two-choices', remote: true %>
	</li>
</ul>