<div id="results">
  <!-- <#% if @user.latitude != nil %> -->
    <%= "We've located you, and you're about to get fed." %><br/>
    <strong><%= @user.location %></strong><br/><br/>

      <#%= response.businesses[0].name %>
      <#%= response.businesses[0].image_url %>
      <#%= response.businesses[0].review_count %>
      <#%= response.businesses[0].rating_img_url_small %>
      <#%= response.businesses[0].display_address %>
      <#%= response.businesses[0].title %>
    <#% end %>
  <!-- <#% else %>
    <#%= "Please turn your location services on so we can get you fed." %> -->
  <!-- <#% end %> -->
</div>

<!-- here, we want to return - 
the restaurant's name 
the restaurant's address 
the restaurant's number
with the map
name with link to the official website
AND/OR YELP DISPLAY REQUIREMENTS
 -->