<div id="results">
  <!-- <#% if @user.latitude != nil %> -->
    <%= "We've located you, and you're about to get fed." %><br/>
    <strong><%= @user.location %></strong><br/><br/>

<!-- <#%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].name %>
<img src="#{<#%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].image_url %>}"></img>
<#%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].review_count %>
<img src="#{<#%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].rating_img_url_small %>}"></img>
<#%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].location.display_address %>
<a href="<#% Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].url %>">Check out this business on Yelp!</a> -->

  <!-- <#% else %>
    <#%= "Please turn your location services on so we can get you fed." %> -->
  <!-- <#% end %> -->
</div>