<div class="question">
	What's it like out there today?<br />
</div>
<div class="answer">
	<div class="two-choices">
		<%= link_to "Sweaty weather", questionSpicy_path(:weather => true), :method => :post, remote: true %>
	</div>
	<div class="two-choices">
		<%= link_to "Sweater weather", questionSpicy_path(:weather => false), :method => :post, remote: true %>
	</div>
</div>