<div class="question">
	<%= link_to "GET ME FED", getLocation_path, method: :post, id: 'start_btnz', remote: true %><br /><br />
	<img id="yelp-logo" style="margin-top: 10px" src="/assets/yelp_logo.png" width="50">
</div>
