<div class="question">
	<%= link_to "FIND ME A PLACE TO EAT", getLocation_path, method: :post, id: 'start_btnz', remote: true %><br /><br />
	<div id="yelp-logo">
		<span style="font-size: 11px; color: dimgray; vertical-align: text-top">Powered by  </span><img style="margin-top: 10px" src="/assets/yelp_logo.png" width="50">
	</div>
</div>
