<div id="results">
  <p>Display results</p>
  
   
  <%= div_for(response) do %>
    <%= response.businesses[0].name %>
  <!-- <#%= results.businesses[0].image_url %>
  <#%= results.businesses[0].review_count %>
  <#%= results.businesses[0].rating_img_url_small %>
  <#%= results.businesses[0].display_address %>
  <#%= results.businesses[0].title %> -->
  <% end %>
</div>