<div id="loading">
	<div>
		<img src="/assets/loader.gif" width="40">
	</div>
	<div>
		<span style="font-size: 26px; font-family: 'Dosis', sans-serif; font-weight: 800">Bet you're hungry, aren't ya?</span>
	</div>
</div>

