<div class="question">
	<br /><br />
	<span style="color: grey; font-size: 20px">Question 4/6:</span><br />
	<div class="animated flipInX">
		You feeling frisky, hot stuff?
	</div>
</div>
<ul class="answer">
	<li class="two-choices">
		<img src="/assets/spicy.svg" width="50">
		<%= link_to "Bring it on", questionHealthy_path(:spicy => true), id: 'two-choices', :method => :post, remote: true %>
	</li>
	<li class="two-choices">
		<img src="/assets/nospicy.svg" width="50">
		<%= link_to "Keep it mild", questionHealthy_path(:spicy => false), :method => :post, id: 'two-choices', remote: true %>
	</li>
</ul>