<!DOCTYPE html>
<html>
<head>
  <title>Look What's For Lunch -- LUNCH LOOK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>
<body>
	<br />
	<div id="app"><img id="phone" src="/assets/phone.jpg"></div>
	<div id="content-box">
		<div id="content">
			<div id="header"></div>
			<div id="body">
				<img id="logo" class="animated bounce" src="/assets/logo.png" width="300">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>